<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>商品评价系统</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
</head>
<body>
    <div class="head"> 
        <div class="top_right">帮助中心</div>
        <span class="top_right">|</span>
        <div class="top_right">免费注册</div>
        <span class="top_right">|</span>
        <div class="top_right">登录</div>
        <div class="top_right">你好，欢迎来到京东！&nbsp </div>
    </div>
    <div class="body">
        <div class="body_top">
            <div class="logo">logo</div>
            <div class="index_search"> </div> <div class="searchBtn">搜索</div>
            <div class="carBtn">我的购物车</div>
        </div>
        <div class="index_main">
           <div class="main_top"> 
                <div class="nav">首页</div>
                <div class="nav">纸尿裤</div>
                <div class="nav">奶粉</div>
           </div>
           <div class="pic_show">
               <img src="">
               <img src="">
           </div>
        </div>
        <div class="flood">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="foot"> </div>

</body>
</html>

